@{
    ViewData["Title"] = "Calculation Page";
}

<div class="text-center">
    <h1 class="display-4">The value checker</h1>
    <p>This program will display the greater value of the square root of 2 numbers</p>
</div>

<div class="text-center">
    <form asp-controller="calc" asp-action="calc" method="POST">
        <input placeholder="Enter a number" name="firstnum" />
        <input placeholder="Enter a number" name="secondnum" /><br /><br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
@{
    if (ViewBag.result1 != null && ViewBag.result2 != null)
    {
        if (ViewBag.result1 == ViewBag.result2)
        {
            <div class="text-center">
                <p>
                    Both Values are the same, please enter another set of numbers.
                </p>
            </div>
        }
        else if (ViewBag.result1 > ViewBag.result2)
        {
            //Calculates the greater value of the squareroot of the numbers entered by the user
            <div class="text-center">
                <p>
                    The number @ViewBag.one with a Squareroot of @ViewBag.result1 has a
                    higher squareroot than @ViewBag.two with a squareroot of @ViewBag.result2.
                </p>
            </div>
        }
        else if (ViewBag.result2 > ViewBag.result1)
        {
            <div class="text-center">
                <p>
                    The number @ViewBag.two with a Squareroot of @ViewBag.result2 has a
                    higher squareroot than @ViewBag.one with a squareroot of @ViewBag.result1.
                </p>
            </div>
        }
        else if (ViewBag.a < 0 || ViewBag.b < 0)
        {  
            <div class="text-center">
                <p>
                    Please enter positive numbers only.
                </p>
            </div>
        }

    }

}